<ion-header>
  <ion-toolbar>
    <ion-title>sent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <h5>{{data[0]}}</h5>
  </ion-item>
  <ion-item>
    <h5>{{data[1]}}</h5>
  </ion-item>
  <ion-item>
    <h5>{{data[2]}}</h5>
  </ion-item>
  <ion-item>
    <h5>{{data[3]}}</h5>
  </ion-item>
  <ion-item>
    <h5>{{data[4]}}</h5>
  </ion-item>
  <ion-item>
      <h5>{{data[5]}}</h5>
    </ion-item>,
    <ion-item>
        <h5>{{data[6]}}</h5>
      </ion-item>  
</ion-list>
</ion-content>
