<ion-item [routerLink]="[ '/', 'places', 'tabs', 'offers', loadedOffer.id]" detail>
  <ion-thumbnail slot="start">
    <ion-img [src]="loadedOffer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{ loadedOffer.title }}</h2>
    <p>{{ loadedOffer.description }}</p>
    <div class="offer-details">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{ loadedOffer.avaliableFrom }}</ion-text>
      <span>to</span>
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{ loadedOffer.avaliableTo }}</ion-text>
    </div>
  </ion-label>
</ion-item>